<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RuoYiDemo</title>
    <link href="../img/favicon.ico" rel="icon" type="image/x-icon">
    <link href="../css/login.css" rel="stylesheet" type="text/css">
</head>
<body class="signin">
<aside class="static-strip">
    <div class="bound">
        <mark class="corp-name">
            <a href="http://localhost:80" title="后台管理系统">RuoYiDemo</a>
        </mark>
    </div>
</aside>
<div class="signinpanel">
    <div class="signin-sysname" >
        <h4>欢迎使用<strong> 后台管理系统</strong></h4>
    </div>
    <div class="signin-info">
        <form action=""></form>
    </div>
</div>

</body>
</html>